* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f1f1f1;
}

.container {
  display: grid;
  grid-template-areas:
    "logo nav"
    "grid grid"
    "boxes boxes"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  min-height: 100vh;
}


.logo {
  grid-area: logo;
  background: #00BCD4;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}


.nav {
  grid-area: nav;
  background: #00BCD4;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  margin-left: -10px;
}


.grid-imagens {
  grid-area: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  background: #fff;
}

.grid-imagens img {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  object-fit: cover;
  margin-left: 100px;
}


.boxes {
  grid-area: boxes;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.box {
  flex: 1;
  background: #ddd;
  padding: 25px;
  text-align: center;
  border-radius: 4px;
  font-size: 1.2rem;
}

footer {
  grid-area: footer;
  background: #00BCD4;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  font-size: 1rem;
}


@media (max-width: 768px) {
  body {
    padding: 10px;
    font-size: 16px;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .grid-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }

  .grid-imagens img {
    max-width: 80px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    margin: 0;
  }

  .boxes {
    flex-direction: column;
    gap: 10px;
  }

  .box {
    width: 100%;
  }

  .logo,
  .nav,
  footer {
    text-align: center;
    justify-content: center;
  }

  .nav {
    margin-left: 0;
  }
}